.my-body{
    margin: 0;
    background: #cbd6d8;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    padding-bottom: 30px;
}

.title-div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-container {
    width: 90vw;
    height: max-content;
    border: 0.1px solid transparent;
    border-radius: 7px;
    margin: 0 auto;
    box-shadow: -2px 5px 10px 1px;
    background-color: transparent;
}

@import url("https://fonts.googleapis.com/css?family=Kanit:900");

.mine-title{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    background: #e6bebe;
    border-radius: 7px; 
}
.mine-title .heading{
    text-decoration: none;
    color: #fff;
    font-family: "Kanit";
    line-height: 1em;
    margin: 0;
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 0 #dba1a1, 0 2px 0 #d89999, 0 3px 0 #d59292, 0 4px 0 #d28a8a, 0 5px 0 #cf8383, 0 6px 0 #cd7c7c, 0 7px 0 #ca7474, 0 8px 0 #c76d6d, 0 0 5px rgba(230, 139, 139, 0.05), 0 -1px 3px rgba(230, 139, 139, 0.2), 0 9px 9px rgba(230, 139, 139, 0.3), 0 12px 12px rgba(230, 139, 139, 0.3), 0 15px 15px rgba(230, 139, 139, 0.3);
}

.my-container .my-nav a{
    text-decoration: none;
    color: #000;
    font-family: cursive;
}

.my-container .my-nav a:hover{
    text-decoration: none;
    color: #4d4747;
}

.copy{
    background: #D6D6D6;
    font-family: "Lucida Sans Unicode" ;
    color: #000000;
    text-decoration: right;
}

.copy .link {
    text-decoration: none;
    color: #000;
}

.link{
    cursor: pointer;
}

.alert{
    margin-bottom: 0;
}

.button{
    background-color:rgb(205, 205, 205);
    border-radius: 7px;
    align-content: center;
    align-items: center;
    text-align: center;
}
.button .click{
    margin: 0 auto;
    padding: 4px 7px 3px 7px;

    width: 80vw;
    text-align: center;
    font-family: fantasy;
    color: rgb(92, 92, 92);

    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 1px;

    transition-duration: 0.5s;
    
    opacity: 1;
    transition: opacity 3s;  
}

.button .click:hover{
    color: rgb(0, 0, 0);
}


/* Animations */
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
} 
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}


/* Controlling font size depending on screen size */
@media screen and (max-width: 400px){
    .mine-title .heading{
        font-size: 15vw;
    }
    .my-container .my-nav a{
        font-size: 5vw;
    }
    .my-container .my-nav a:hover{
        font-size: 5.3vw;
    }
    .copy{
        font-size: 4vw;
    }
    .button .click{
        font-size: 5vw; 
    }
}

@media screen and (min-width:401px){
    .mine-title .heading{
        font-size: 10vw;
    }
    .my-container .my-nav a{
        font-size: 4vw;
    }
    .my-container .my-nav a:hover{
        font-size: 4.3vw;
    }
    .copy{
        font-size: 3vw;
    }
    .button .click{
        font-size: 4vw; 
    }
}


@media screen and (min-width:651px){
    .mine-title .heading{
        font-size: 4vw;
    }
    .my-container .my-nav a{
        font-size: 2vw;
    }
    .my-container .my-nav a:hover{
        font-size: 2.1vw;
    }
    .copy{
        font-size: 1.5vw;
    }
    .button .click{
        font-size: 2.5vw; 
    }
}


@media screen and (min-width:1351px){
    .mine-title .heading{
        font-size: 4vw;
    }
    .my-container .my-nav a{
        font-size: 1.7vw;
    }
    .my-container .my-nav a:hover{
        font-size: 2.1vw;
    }
    .copy{
        font-size: 1vw;
    }
    .button .click{
        font-size: 1.5vw; 
    }
}